body{
  background-image: linear-gradient(120deg, #dcdde1, #273c75) ;
  min-height: 100vh;
}

img{
  display: block;
  margin-left:auto;
  margin-right: auto;
}

h5{
   text-align: center;
}

button[type = "Submit"]{
   display: block;
    margin: 0 auto;

}
